<div th:fragment="card" class="card-small">
    <div class="card-small__title">
        <h6>Пойти погулять с собакой</h6>
    </div>
    <div class="card-small__description">
        <p>очень очень
            нужно погулять с этим котом, который как
            собака; очень очень нужно погулять с этим котом, который как
            собака; очень очень нужно погулять с этим котом, который как
            собака
        </p>
    </div>
    <div class="card-small__prop">
        <div class="card-small__prop__created">
            <p class="card-small__created__name">created:</p>
            <p class="card-small__created__date">2023-12-01</p>
        </div>
        <div class="card-small__prop__service">
            <div class="card_small__service__btn delete">X</div>
            <div class="card_small__service__btn edit">/</div>
        </div>
    </div>
</div>